// This style will render on Front-End and Visual Builder.

.advanced-heading__container {
    padding: 30px;
    background-color: #ecf4f7;
    
}

.module__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.toggle_select {
    width: 100%;
    padding: 5px;
    border: 1px solid #d2d7e4;
    border-radius: 3px;
    padding: 7px 10px;
    box-sizing: border-box;
    color: #222c39;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    line-height: normal;
    box-shadow: none;
    letter-spacing: normal;
    display: block;
    width: 100%;


    option {
        font-size: 12px;
    }
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    // background-color: #2196F3;
    background-color: #222c39;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #222c39;
    // box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }