/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/child-module/module.scss ***!
  \******************************************************************************************************************************************************************************************/
.example_child_module {
  display: flex;
  flex-wrap: wrap;
}
.example_child_module__icon.et-pb-icon {
  font-size: 21px;
  padding-top: 6px;
  color: #29c4a9;
}
.example_child_module__content-container {
  flex-grow: 1;
  flex-basis: 0%;
  padding-left: 15px;
}
.example_child_module__title {
  font-size: 21px;
  line-height: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}
.example_child_module__content {
  font-size: 13px;
  line-height: 1.6em;
  color: #868686;
}
/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/dynamic-module/module.scss ***!
  \********************************************************************************************************************************************************************************************/
.example_dynamic_module {
  padding: 50px;
  background-color: #f5f5f5;
}
.example_dynamic_module__inner {
  position: relative;
}
.example_dynamic_module__title {
  margin-bottom: 30px;
}
.example_dynamic_module__post-item {
  margin-bottom: 20px;
}
.example_dynamic_module__post-item-title {
  font-size: 18px;
}
/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/parent-module/module.scss ***!
  \*******************************************************************************************************************************************************************************************/
.entry-content ul.example_parent_module {
  list-style: none;
}
/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/static-module/module.scss ***!
  \*******************************************************************************************************************************************************************************************/
.example_static_module {
  padding: 30px;
  background-color: #ecf4f7;
}
.example_static_module__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.example_static_module__image {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 20px;
}
.example_static_module__content-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 20px;
}
/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/first-module/module.scss ***!
  \******************************************************************************************************************************************************************************************/
.example_first_module {
  padding: 30px;
  background-color: #ecf4f7;
}
.example_first_module__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.example_first_module__image {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 20px;
}
.example_first_module__content-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 20px;
}
.example_first_module .example_first_module__button button {
  border: 4px solid brown;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: yellow;
  color: brown;
  font-size: 26px;
  cursor: pointer;
  font-weight: 600;
}
.example_first_module .example_first_module__image2 {
  width: 600px;
  height: 300px;
}
.example_first_module .example_first_module__image2 img {
  width: 100%;
  height: 100%;
}
/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/heading-module/module.scss ***!
  \********************************************************************************************************************************************************************************************/
.example_heading_module {
  background-color: transparent;
}
.example_heading_module__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.example_heading_module__image {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 20px;
}
.example_heading_module__content-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 20px;
}
/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/advanced-heading/module.scss ***!
  \**********************************************************************************************************************************************************************************************/
.advanced-heading__container {
  padding: 30px;
  background-color: #ecf4f7;
}

.module__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.toggle_select {
  width: 100%;
  padding: 5px;
  border: 1px solid #d2d7e4;
  border-radius: 3px;
  padding: 7px 10px;
  box-sizing: border-box;
  color: #222c39;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  line-height: normal;
  box-shadow: none;
  letter-spacing: normal;
  display: block;
  width: 100%;
}
.toggle_select option {
  font-size: 12px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #222c39;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222c39;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
